{%extends 'themes/basic_committee.html'%}
<!-- {% load crispy_forms_tags %} -->

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    .container {
      padding-top:50px;
      text-align: center;
    }
    .container .row{
      padding-top:20px
    }
    .container .card-foter{
      padding-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        {{from}}
      </div>
      <div class="card-foter">
        <button type="submit" class="btn btn-outline-primary">submit</button>
      </div>
    </form>
  </div>
</body>
</html>

{%endblock%}
