{%extends 'themes/baisc_students.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>

<body>


<!DOCTYPE html>
<html>
<head>
  <style>
    .container{
            text-align: center;
            padding-top: 100px;
        }
  </style>
</head>
<body>

  <div class="container">
    

    <table class="table table-bordered">
      <thead>
            
          <tr>
            <th scope="col">Student's ID</th>            
            <th scope="col">Student's Name</th> 
            <th scope="col">Group's ID</th>           
               
                     
          </tr>
        </thead>
        <tbody>
          
            <tr>
               {% for gr in grops %}
             
              <td>{{gr.id_students}}</td>
              <td>{{gr.name_Students}}</td>
              <td>{{gr.id_groups_fk}}</td>
              
              
               
             
              
            </tr>
            {% endfor %}
             
        </tbody>
      </table>
      
  </div>
</body>

</html>


{% endblock content %}